<ion-content padding class="page-content">
  <div class="title-container">
    <header [pageUi]="booksPageUi" [loadedObjects]="userBooksData.length"></header>
  </div>
  <!-- div show only in the case user has no books registered -->
  <div *ngIf="userBooksData.length == 0" class="noelements-icon-container">
    <no-loaded-elements [pageUi]="booksPageUi"></no-loaded-elements>
  </div>
  <ion-segment mode="md" class="selection-container" [(ngModel)]="category" *ngIf="userBooksData.length > 0">
    <ion-segment-button text-capitalize value="to-read">
      {{ booksPageUi.toReadSegment }}
    </ion-segment-button>
    <ion-segment-button text-capitalize value="completed">
      {{ booksPageUi.riddenSegment }}
    </ion-segment-button>
  </ion-segment>
  <no-elements-fab></no-elements-fab>
</ion-content>